body {
  background-color: #f1f1f1;
  /* font-family: Arial, sans-serif; */
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .topHead {
    display: none;
  }
}

.courseline {
  background-color: #3a50d9;
  border-bottom: 3px solid rgb(250, 33, 62);
  border-radius: 10px;
  color: #fefeff;
  font: italic bold 40px Georgia, Serif;
  text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
}
.btnTop {
  display: inline-block;
  background-color: #0e32ff;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  height: auto;
  border-bottom: 3px solid red;
}

.btnTop:hover {
  background-color: #ffffff;
  text-decoration: underline;
  color: #0e32ff;
}

.navbar-nav .nav-link {
  display: flex;
  flex-direction: column;
  padding-left: 30px !important;
  margin-bottom: 0;
  list-style: none;
  color: green !important;
}

.navbar-nav .nav-link {
  position: relative;
  display: inline-block;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav .nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.image-section {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  /* border: 2px solid green; */
  width: auto;
  border-bottom: 3px solid rgb(250, 33, 62);
  border-radius: 20px;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

img {
  display: block;
  width: 100%;
  height: 300px;
  z-index: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

@media (max-width: 768px) {
  .text-container {
    width: 100%;
    padding: 0 15px;
  }
}
h2 {
  font-size: 30px;
  font-weight: 600;
  color: #0e4df8;
  text-shadow: 1px 1px 0 #070707;
}

.animated-section {
  position: relative;
  /* height: 100vh;  */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
}

.animated-sentence {
  font-size: 48px;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 0 #fff;
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 5s steps(15) forwards;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* ------------------ */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
  border-radius: 5px;
  overflow: hidden;
  margin: 5px;
  text-align: center;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  background-color: #f1f1f1;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center;
}

.card-description {
  font-size: 16px;
  margin: 0 0 10px;
  color: green;
  text-align: center;
}

.card-price {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.card-button {
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.card-button:hover {
  background-color: #e8fc3286;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card:hover img {
  transform: scale(1.1);
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  /* height: 450px; */
  width: auto;
}

@media screen and (max-width: 768px) {
  .card {
    height: auto;
    width: 100%;
  }
}

/* ------------- */
.fac {
  text-align: center;
}
.ourfacilities {
  background-color: #004188;
  background-image: radial-gradient(
    circle at center bottom,
    #004188 41%,
    #034894 0%
  );
  background-position: center center;
  background-repeat: no-repeat;
  border-width: 0px 0px 0px 0px;
  border-color: #eae9e9;
  border-style: solid;
  color: white;
}

@media (max-width: 768px) {
  .ourfacilities {
    background-color: #004188;
    color: white;
    padding: auto;
  }
}

i {
  background-color: #d3d3d3;
  color: rgb(0, 4, 255);
  border-radius: 50%;
  padding: 2px;
  border: 0.5px solid green;
}

i {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.star i {
  color: rgb(7, 23, 255) !important;
  background-color: none;
  border: none;
  background: none;
  animation: none;
  font-size: 20px;
}

.star i:hover {
  color: rgb(255, 255, 255) !important;
  background-color: green;
}
.imageTeacher img {
  border: 2px solid #f6f6f6;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 35%;
}

#student {
  background-color: rgba(179, 177, 177, 0.411);
}
#news {
  background-color: rgb(253, 250, 250);
}
.offerImage img {
  /* border: 1px solid red; */
  width: 80%;
  height: 80%;
  margin-left: 30px;
}
#offer {
  background-color: #004188;
  color: white;
}

/* ------------------- */
#scroll-to-top-btn {
  display: none; /* hide the button by default */
  position: fixed; /* make the button always visible on the screen */
  bottom: 20px; /* position the button 20px from the bottom of the screen */
  right: 20px; /* position the button 20px from the right edge of the screen */
  font-size: 24px; /* adjust the size of the button */
  padding: 8px; /* add some padding to the button for better visibility */
  background-color: #333; /* customize the button's background color */
  color: #fff; /* customize the button's text color */
  border: none; /* remove the button's border */
  border-radius: 4px; /* add some border radius to make the button look nicer */
  cursor: pointer; /* add a cursor pointer to the button for better usability */
}

/* --------------- */
/* Set the color of the thumb and track of the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* adjust the width of the scrollbar */
  background-color: #f5f5f5; /* set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #423fff; /* set the color of the scrollbar thumb */
  border-radius: 50px;
}

/* Set the color of the thumb and track of the scrollbar in Firefox */
/* Note that this only works in Firefox 64 and later versions */
/* For older versions of Firefox, you can use a JavaScript plugin */
/* such as "Overlay Scrollbars" or "Perfect Scrollbar" */
/* See the links below for more information */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color */
/* https://github.com/oswaldoacauan/overlayscrollbars */
/* https://github.com/noraesae/perfect-scrollbar */
html {
  scrollbar-color: #555 #ff1414;
}
